@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-50: 239 246 255;
    --primary-100: 219 234 254;
    --primary-200: 191 219 254;
    --primary-300: 147 197 253;
    --primary-400: 96 165 250;
    --primary-500: 59 130 246;
    --primary-600: 37 99 235;
    --primary-700: 29 78 216;
    --primary-800: 30 64 175;
    --primary-900: 30 58 138;
    --primary-950: 23 37 84;

    --surface-0: 255 255 255;
    --surface-50: 250 250 250;
    --surface-100: 245 245 245;
    --surface-200: 238 238 238;
    --surface-300: 224 224 224;
    --surface-400: 189 189 189;
    --surface-500: 158 158 158;
    --surface-600: 117 117 117;
    --surface-700: 97 97 97;
    --surface-800: 66 66 66;
    --surface-900: 33 33 33;
    --surface-950: 16 16 16;

    --primary: var(--primary-500);
    --primary-inverse: var(--surface-0);
    --primary-hover: var(--primary-600);
    --primary-active-color: var(--primary-600);

    --primary-highlight-opacity: 0.1;
    --primary-highlight-inverse: var(--primary-700);
    --primary-highlight-hover-opacity: 0.2;
}

.dark {
    --primary: var(--primary-400);
    --primary-inverse: var(--surface-900);
    --primary-hover: var(--primary-300);
    --primary-active-color: var(--primary-300);

    --primary-highlight-opacity: 0.2;
    --primary-highlight-inverse: var(--surface-0);
    --primary-highlight-hover-opacity: 0.3;
}

.customized-primary {
    &:not(.dark) {
        --primary: var(--primary-950);
        --primary-inverse: var(--surface-0);
        --primary-hover: var(--primary-800);
        --primary-active-color: var(--primary-900);

        --primary-highlight-opacity: 1;
        --primary-highlight-inverse: var(--surface-0);
        --primary-highlight-hover-opacity: 0.8;
    }
    &.dark {
        --primary: var(--primary-50);
        --primary-inverse: var(--surface-950);
        --primary-hover: var(--primary-100);
        --primary-active-color: var(--primary-100);

        --primary-highlight-opacity: 0.1;
        --primary-highlight-inverse: var(--surface-0);
        --primary-highlight-hover-opacity: 0.2;
    }
}

.blue-card {
    @apply bg-card-blue bg-[#3d87ff];
}
.yellow-card {
    @apply bg-card-yellow bg-[#ffff99];
}
.green-card {
    @apply bg-card-green bg-[#00bb77];
}
.purple-card {
    @apply bg-card-black bg-[#821FFF];
}

.blue-button {
    @apply bg-white text-primary hover:bg-primary;
}
.yellow-button {
    @apply bg-white text-[#dfb705] hover:bg-[#dfb705];
}
.green-button {
    @apply bg-white text-[#00bb77] hover:bg-[#00bb77];
}
.purple-button {
    @apply bg-white text-[#821FFF] hover:bg-[#821FFF];
}